.nomedia

src/game
*.so
*.a
*.html
*.data
*.js
*.wasm
*.a
*.dat
*.cfg

.gradle
src/android/.gradle/
src/android/gradle/
src/android/build/
src/android/app/build/
src/android/local.properties
src/android/GeneratedPluginRegistrant.java
src/android/app/src/main/assets
src/envvars.sh

.import/
export.cfg
export_credentials.cfg
*.translation
/src/assets/sfx/*.ogg

*.build
